{% block customstyle %}
  <style>
    .nav-pills .nav-link.active {
      background-color: #607a9bd2;
      color: #e8e9ee !important;
    }
    .dropdown-menu {
        width: 400px !important;
        height: 500px !important;
        max-height: 500px;
        overflow: scroll; 
    }
  </style>
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top nav-pills red">
    <a class="navbar-brand" href="/home" style="color:indianred; font-size:30px;">
        <img src="https://camo.githubusercontent.com/ceb032d1e04acccbb9734db3805d473b564d98e4ea6cc561983a547e625026b8/687474703a2f2f6476716732646f6767676d6e362e636c6f756466726f6e742e6e65742f696d616765732f67657473747265616d2d646f742d696f2d6c6f676f2d6c696768742e706e67", alt="" width=150/>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="font-size: 15px;">
      <div class="navbar-nav mr-auto" style="padding-top: 3px;">
        <a 
          {% if location == 'home' %} class="nav-item nav-link px-4 active" {% else %} class="nav-item nav-link px-4" {% endif %} 
          href="/home">
          Home <span class="sr-only">(current)</span>
        </a>
        {% if user.is_authenticated %}
            <a 
              {% if location == 'trending' %} class="nav-item nav-link px-4 active" {% else %} class="nav-item nav-link px-4" {% endif %}
              href="{% url 'trending' %}">
              Trending
            </a>
            <a 
              {% if location == 'feed' %} class="nav-item nav-link px-4 active" {% else %} class="nav-item nav-link px-4" {% endif %} 
              href="{% url 'feed' %}">
              Flat Feed
            </a>
            <a 
              {% if location == 'aggregated_feed' %} class="nav-item nav-link px-4 active" {% else %} class="nav-item nav-link px-4" {% endif %} 
              href="{% url 'aggregated_feed' %}">
              Aggregated Feed
            </a>
        {% endif %}
        <a 
          {% if location == 'aboutus' %} class="nav-item nav-link px-4 active" {% else %} class="nav-item nav-link px-4" {% endif %} 
          href="#">
          About us
        </a>

        <!-- DEBUG options -->
        {% if request.user.is_superuser and settings.TEMPLATE_DEBUG %}
            <div class="dropdown">
              <a class="nav-item nav-link  dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ★ debug
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <a 
                  {% if location == 'notification_feed' %} class="dropdown-item nav-link px-4 active" {% else %} class="dropdown-item nav-link px-4" {% endif %} 
                  href="{% url 'notification_feed' %}">
                  ★ {% if unseen_count %}
                    <b>[ {{ unseen_count }} ]</b>
                  {% endif %} Notification Feed
                </a>
                <a 
                  class="nav-item nav-link px-4"
                  href="/admin">★ Admin
                </a>
              </div>
            </div>
        {% endif %}
        <!-- admin options -->

      </div>
      <div class="navbar-nav navbar-right">
        {% if user.is_authenticated %}
            <a 
              {% if location == 'profile' %} class="nav-item nav-link px-4 active" {% else %} class="nav-item nav-link px-4" {% endif %} 
              href="{% url 'profile' user.username %}" 
              style="margin-right: 1px; padding-top: 7px;">
              Welcome, {% if user.first_name %} {{ user.first_name }} {% else %} {{ user.username }} {% endif %}
            </a>
            {% include "core/notification_dropdown.html" %}
            <a href="{% url 'logout' %}?next=/home" class="nav-item btn btn-dark">Logout</a>
        {% else %}
            <a 
              {% if location == 'login' %} class="nav-item btn btn-dark px-4 active" {% else %} class="nav-item btn btn-dark px-4" {% endif %} 
              href="{% url 'login' %}" 
              style="margin-right: 5px;">
              Login
            </a>
            <a 
              {% if location == 'register' %} class="nav-item btn btn-dark active" {% else %} class="nav-item btn btn-dark" {% endif %} 
              href="{% url 'register' %}" 
              role="button">
              Register
            </a>
        {% endif %}
      </div>
    </div>
</nav>
