<div class="dropdown show" style="margin-right: 15px" id="notification_dropdown">
    <a {% if unseen_count %} style="color: red;" {% endif %} class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if unseen_count %}
            <small>{{ unseen_count }}</small>
        {% endif %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
        </svg>
    </a>
  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for notification_activity in notification_pins %}
            {% for notification in notification_activity.last_activities %}
                {% with notification.pin as pin %}
                    <div class="container-fluid w-70">
                        <div class="row justify-content-center">
                            <div class="col">
                                <div 
                                    {% if notification in unseen_activities %}
                                        class="card text-white bg-warning mb-1 w-100 nounderline"
                                    {% else %}
                                        class="card border-warning mb-1 w-100 nounderline"
                                    {% endif %}> 
                                    <div class="card-body">
                                        {% if pin.message %}
                                            <small><p class="card-title">{{ pin.message }}</p></small>
                                        {% else %}
                                            <small><p class="card-title"><i>No message to display</i></p></small>
                                        {% endif %}
                                        <p class="card-text">
                                            <small 
                                                {% if notification in unseen_activities %}
                                                    class="pull-right"
                                                {% else %}
                                                    class="text-muted pull-right"
                                                {% endif %}>{{ pin.created_at|timesince }} ago <b>by {{ pin.user }}</b>
                                            </small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        {% endfor %}
    </div>
</div>

<!-- function call on notification menu dropdown -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    var count = 1;
    $(document).ready(function(){
        $('#notification_dropdown').on('hidden.bs.dropdown', function () {
            if (count > 1) {
                window.location = "{% url 'seen_notification' %}";
            };
            count += 1;
        });
    });
</script>

<input type="hidden" id="refreshed" value="false">
<script type="text/javascript">
    $(window).load(function(){
        if ($('#refreshed').val() == "false") {
          $('#refreshed').val("true"); 
        }
        else {
          $('#refreshed').val("false");
          location.reload();
        }
      });
</script>
